body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #9993;
}

.question {
    display: none; /* OCULTAR TODAS AL INICIO */
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 8px 0;
    cursor: pointer;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background: #0277bd;
    color: white;
    border: none;
    border-radius: 6px;
}

button:hover {
    background: #015a8e;
}
