body {
    background: #220014;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    color: #ffd3f5;
}

header {
    padding: 20px;
    text-align: center;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ff5fcf;
    text-decoration: none;
}

h1 {
    color: #ff39ba;
    text-shadow: 0 0 14px #ff39ba;
}

.content {
    max-width: 900px;
    margin: auto;
    background: rgba(255, 10, 140, 0.15);
    border: 2px solid #ff39ba;
    padding: 25px;
    margin-top: 40px;
    border-radius: 15px;
}