body {
    background: #220014;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    color: #ffd3f5;
    padding: 30px;
}

header {
    padding: 20px;
    text-align: center;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ff5fcf;
    text-decoration: none;
    font-size: 20px;
}

h1 {
    color: #ff39ba;
    text-shadow: 0 0 14px #ff39ba;
}

.content {
    max-width: 900px;
    margin: auto;
    background: rgba(255,10,140,0.15);
    border: 2px solid #ff39ba;
    padding: 25px;
    margin-top: 40px;
    border-radius: 15px;
}

/* NAV */
.nav-link {
    display: inline-block;
    margin: 10px 15px;
    padding: 12px 20px;
    background: rgba(0, 200, 255, 0.12);
    border: 2px solid #00e7ff;
    border-radius: 10px;
    color: #b7f9ff;
    font-size: 1.1rem;
    text-decoration: none;
    transition: 0.3s;
}

.nav-link:hover {
    background: rgba(0, 200, 255, 0.30);
    box-shadow: 0 0 12px #00eaff;
    transform: scale(1.08);
}

.question {
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #ff39ba;
    border-radius: 12px;
    background: rgba(255, 10, 140, 0.10);
}

label {
    font-size: 16px;
}

.correct {
    color: #7CFF7C;
    font-weight: bold;
}

.incorrect {
    color: #FF6B6B;
    font-weight: bold;
}

.btn-enviar {
    margin-top: 20px;
    background: #ff39ba;
    border: none;
    padding: 12px 25px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px #ff39ba;
    transition: 0.3s;
}

.btn-enviar:hover {
    background: #ff63ca;
    box-shadow: 0 0 15px #ff63ca;
    transform: scale(1.05);
}

.registration {
    max-width: 600px;
    margin: 30px auto;
    padding: 25px;
    background: rgba(255,10,140,0.15);
    border: 2px solid #ff39ba;
    border-radius: 12px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ff39ba;
    background: rgba(255,10,140,0.05);
    color: #ffd3f5;
}