body {
    background: #2b0020;
    margin: 0;
    font-family: Poppins, sans-serif;
    color: #ffceed;
}

header {
    padding: 20px;
    text-align: center;
}

.back {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ff94e6;
    text-decoration: none;
}

h1 {
    color: #ff47dc;
    text-shadow: 0 0 12px #ff47dc;
}

.content {
    max-width: 900px;
    margin: auto;
    background: rgba(255, 80, 200, 0.08);
    border: 1px solid #ff6dd3;
    padding: 30px;
    margin-top: 40px;
    border-radius: 14px;
}
.img img {
    width: 650px;
    height: auto;
    display: block;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
}

.fila {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 25px;
    margin: 20px 0;
}

.fila img {
    width: 350px;   
    text-align: center;
    height: auto;
    border-radius: 10px;
}

.ide-logo {
    width: 200px;
    height: auto;
    display: block;
    text-align: center;
    margin: 25px auto;
    border: 4px solid #7d3cff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 20px #7d3cff88;
    background-color: #1a1a1a;
}
.ide-section {
    max-width: 900px;      
    margin: 0 auto;        
    padding: 30px;
    text-align: center;    
}
.ide-title {
    font-size: 38px;
    color: #e36de1;
    margin-bottom: 20px;
    text-align: center;
}
.ide-desc {
    font-size: 18px;
    max-width: 750px;
    margin: 0 auto 30px;
    line-height: 1.7;
    text-align: center;
}
.subtitulo {
    font-size: 26px;
    color: #5ce1e6;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.nav-link {
    display: inline-block;
    margin: 10px 15px;
    padding: 12px 20px;
    background: rgba(0, 200, 255, 0.12);   
    border: 2px solid #00e7ff;             
    border-radius: 10px;
    color: #b7f9ff;                        
    font-size: 1.1rem;
    text-decoration: none;
    transition: 0.3s;
}

.nav-link:hover {
    background: rgba(0, 200, 255, 0.30);
    box-shadow: 0 0 12px #00eaff;
    transform: scale(1.08);
}

