body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #2b0018;
    color: #ffc9f4;
    text-align: center;
}

header {
    padding: 25px;
}

h1 {
    color: #ff5ace;
    text-shadow: 0 0 10px #ff5ace;
}

.menu {
    display: flex;
    flex-direction: column; /* Cada fila debajo de la otra */
    gap: 30px;
    margin: 40px auto;
    max-width: 1000px; /* Limita ancho total */
}

.menu-item {
    display: flex;
    align-items: center; /* Centra verticalmente el link y la imagen */
    gap: 30px;           /* Espacio entre el link y la imagen */
    flex-wrap: wrap;      /* Para que en móvil se acomode en columna */
    justify-content: center;
}

.card {
    display: block;
    background: rgba(255, 100, 200, 0.15);
    border: 2px solid #ff4abb;
    padding: 25px;
    width: 250px;
    border-radius: 12px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffc9f4;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    background: rgba(255, 100, 200, 0.30);
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff5ace;
}

.menu-item img {
    width: 400px; /* Imagen más grande */
    height: auto;
    border-radius: 12px;
}

p {
    margin-top: 50px;
    color: #ffc9f4;
    font-size: 14px;
}
