body {
    background: #1a0010;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #ffd0f5;
}

header {
    padding: 20px;
    text-align: center;
}

.back {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #ff77e9;
    text-decoration: none;
}

h1 {
    color: #ff2fcf;
    text-shadow: 0 0 10px #ff2fcf;
}

h2, h3 {
    color: #ff77e9;
    text-shadow: 0 0 8px #ff2fcf;
    margin-top: 30px;
}

.content {
    max-width: 900px;
    margin: auto;
    background: rgba(255, 0, 150, 0.12);
    border: 1px solid #ff2fcf;
    padding: 30px 40px;
    margin-top: 40px;
    border-radius: 14px;
    line-height: 1.7;
}

ul {
    padding-left: 20px;
    margin-top: 10px;
}

ul li {
    margin-bottom: 8px;
}


.criterio-img {
    width: 100%;
    max-width: 850px;
    display: block;
    margin: 15px auto 20px auto;
    border-radius: 12px;
    border: 1px solid #ff2fcf;
    box-shadow: 0 0 10px #ff2fcf;
}
.nav-link {
    display: inline-block;
    margin: 10px 15px;
    padding: 12px 20px;
    background: rgba(0, 200, 255, 0.12);   
    border: 2px solid #00e7ff;             
    border-radius: 10px;
    color: #b7f9ff;                        
    font-size: 1.1rem;
    text-decoration: none;
    transition: 0.3s;
}

.nav-link:hover {
    background: rgba(0, 200, 255, 0.30);
    box-shadow: 0 0 12px #00eaff;
    transform: scale(1.08);
}