body {
    background: #1a0010;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #ffd0f5;
}

header {
    padding: 20px;
    text-align: center;
}

.back {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #ff77e9;
    text-decoration: none;
}

h1 {
    color: #ff2fcf;
    text-shadow: 0 0 10px #ff2fcf;
}

h2, h3 {
    color: #ff77e9;
    text-shadow: 0 0 8px #ff2fcf;
    margin-top: 30px;
}

.content {
    max-width: 900px;
    margin: auto;
    background: rgba(255, 0, 150, 0.12);
    border: 1px solid #ff2fcf;
    padding: 30px 40px;
    margin-top: 40px;
    border-radius: 14px;
    line-height: 1.7;
}

ul {
    padding-left: 20px;
    margin-top: 10px;
}

ul li {
    margin-bottom: 8px;
}

/* IMÁGENES DE CADA CRITERIO */
.criterio-img {
    width: 100%;
    max-width: 850px;
    display: block;
    margin: 15px auto 30px auto;
    border-radius: 12px;
    border: 1px solid #ff2fcf;
    box-shadow: 0 0 10px #ff2fcf;
}